header {
    height:70px;
    background-color: black;
}

.header-right1 {
    float:right;
    line-height: 65px;
    margin-right: 20px;
}

.header-right2 {
    float:right;
    line-height: 65px;
    margin-right: 20px;
}

.header-left img {
    float:left;
    width:200px;
    height:70px;
}

.signup-error-messages {
    color:red;
}

.login-error-messages {
    color:red;
}

.logout-btn {
    float:right;
}

.input-password {
    align-items: center;
    display: flex;
    border: 1px solid lightgray;
}

.input-password:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#signupInputPassword1{
    border:none;
}

#signupInputPassword1:focus {
    box-shadow:none !important;
}

.eye-icon{
    margin-right:5px;
}

.top-wrapper {
    text-align:center;
    height:800px;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/yakei1.jpg");
}