header {
    background-color: navy;
}

.header-left img {
    width:150px;
    height:90px;
}

.top-wrapper {
    text-align:center;
    height:800px;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/hirameki.jpg");
}