header {
    height:70px;
    background-color: navy;
}

.header-right1 {
    float:right;
    line-height: 65px;
    margin-right: 20px;
}

.header-right2 {
    float:right;
    line-height: 65px;
    margin-right: 20px;
}

.header-left img {
    float:left;
    width:150px;
    height:70px;
}

.error-messages {
    color:red;
}

.logout-btn {
    float:right;
}

.top-wrapper {
    text-align:center;
    height:800px;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/hirameki.jpg");
}